In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("stock_file.csv")

In [3]:
dataset.shape

(520, 9)

In [4]:
dataset.head

<bound method NDFrame.head of        ticker   list_date         market_cap lower_offer_pr upper_offer_pr  \
0    06618.HK  2020/12/08  1,963.81-2,207.09          62.80          70.58
1    02110.HK  2020/12/07          5.00-6.00          0.225          0.270
2    06666.HK  2020/12/02    918.92-1,054.05           8.50           9.75
3    06996.HK  2020/11/20      105.58-120.81          15.80          18.08
4    01516.HK  2020/11/19      316.50-379.50          10.55          12.65
..        ...         ...                ...            ...            ...
515  02683.HK  2018/01/22          4.00-5.52           1.00           1.38
516  01665.HK  2018/01/19        14.40-17.60           0.90           1.10
517  08043.HK  2018/01/19          2.00-3.60           0.50           0.90
518  08513.HK  2018/01/19          2.40-2.80           0.60           0.70
519  02139.HK  2018/01/18        66.39-70.46           2.61           2.77

    final_offer_price over_sub_ratio allot_odds firstday_return
0              70.580          420.9      40.0%          0.000%
1               0.225           35.8      20.0%        -14.667%
2               8.800            9.7      50.0%         -0.227%
3              18.080          263.8      20.0%         +1.106%
4              11.600            9.4      30.0%        +21.897%
..                ...            ...        ...             ...
515             1.180          239.0      80.0%         +2.542%
516             1.000            8.6      15.0%         -2.000%
517             0.500           10.4      30.0%       +140.000%
518             0.650           17.5      75.0%         +4.615%
519             2.690            0.6     100.0%         +7.063%

[520 rows x 9 columns]>

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             520 non-null    object
 1   list_date          520 non-null    object
 2   market_cap         464 non-null    object
 3   lower_offer_pr     478 non-null    object
 4   upper_offer_pr     478 non-null    object
 5   final_offer_price  478 non-null    object
 6   over_sub_ratio     478 non-null    object
 7   allot_odds         478 non-null    object
 8   firstday_return    520 non-null    object
dtypes: object(9)
memory usage: 36.7+ KB

In [6]:
# drop tuples with NA as these data are usually not related to IPO
dataset.dropna()

,ticker,list_date,market_cap,lower_offer_pr,upper_offer_pr,final_offer_price,over_sub_ratio,allot_odds,firstday_return
0,06618.HK,2020/12/08,"1,963.81-2,207.09",62.80,70.58,70.580,420.9,40.0%,0.000%
1,02110.HK,2020/12/07,5.00-6.00,0.225,0.270,0.225,35.8,20.0%,-14.667%
2,06666.HK,2020/12/02,"918.92-1,054.05",8.50,9.75,8.800,9.7,50.0%,-0.227%
3,06996.HK,2020/11/20,105.58-120.81,15.80,18.08,18.080,263.8,20.0%,+1.106%
4,01516.HK,2020/11/19,316.50-379.50,10.55,12.65,11.600,9.4,30.0%,+21.897%
...,...,...,...,...,...,...,...,...,...
515,02683.HK,2018/01/22,4.00-5.52,1.00,1.38,1.180,239.0,80.0%,+2.542%
516,01665.HK,2018/01/19,14.40-17.60,0.90,1.10,1.000,8.6,15.0%,-2.000%
517,08043.HK,2018/01/19,2.00-3.60,0.50,0.90,0.500,10.4,30.0%,+140.000%
518,08513.HK,2018/01/19,2.40-2.80,0.60,0.70,0.650,17.5,75.0%,+4.615%
519,02139.HK,2018/01/18,66.39-70.46,2.61,2.77,2.690,0.6,100.0%,+7.063%

In [7]:
datasest = dataset.dropna()

In [8]:
# drop 認購不足 data for simplicity
dataset.drop(dataset[dataset['over_sub_ratio'] == '認購不足'].index, inplace=True)

In [9]:
dataset.dropna(axis=0, how="any", inplace=True)

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 519
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             416 non-null    object
 1   list_date          416 non-null    object
 2   market_cap         416 non-null    object
 3   lower_offer_pr     416 non-null    object
 4   upper_offer_pr     416 non-null    object
 5   final_offer_price  416 non-null    object
 6   over_sub_ratio     416 non-null    object
 7   allot_odds         416 non-null    object
 8   firstday_return    416 non-null    object
dtypes: object(9)
memory usage: 32.5+ KB

In [11]:
dataset['over_sub_ratio'] = dataset['over_sub_ratio'].apply(pd.to_numeric, errors='coerce')

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 519
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             416 non-null    object
 1   list_date          416 non-null    object
 2   market_cap         416 non-null    object
 3   lower_offer_pr     416 non-null    object
 4   upper_offer_pr     416 non-null    object
 5   final_offer_price  416 non-null    object
 6   over_sub_ratio     401 non-null    float64
 7   allot_odds         416 non-null    object
 8   firstday_return    416 non-null    object
dtypes: float64(1), object(8)
memory usage: 32.5+ KB

In [13]:
# filling "null" items with 0 for "over_sub_ratio"  
dataset['over_sub_ratio'] = dataset['over_sub_ratio'].fillna(0)

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 519
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             416 non-null    object
 1   list_date          416 non-null    object
 2   market_cap         416 non-null    object
 3   lower_offer_pr     416 non-null    object
 4   upper_offer_pr     416 non-null    object
 5   final_offer_price  416 non-null    object
 6   over_sub_ratio     416 non-null    float64
 7   allot_odds         416 non-null    object
 8   firstday_return    416 non-null    object
dtypes: float64(1), object(8)
memory usage: 32.5+ KB

In [15]:
dataset['final_offer_price'] = dataset['final_offer_price'].apply(pd.to_numeric, errors='coerce')

In [16]:
dataset['upper_offer_pr'] = dataset['upper_offer_pr'].apply(pd.to_numeric, errors='coerce')

In [17]:
dataset['lower_offer_pr'] = dataset['lower_offer_pr'].apply(pd.to_numeric, errors='coerce')

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 519
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             416 non-null    object
 1   list_date          416 non-null    object
 2   market_cap         416 non-null    object
 3   lower_offer_pr     415 non-null    float64
 4   upper_offer_pr     415 non-null    float64
 5   final_offer_price  415 non-null    float64
 6   over_sub_ratio     416 non-null    float64
 7   allot_odds         416 non-null    object
 8   firstday_return    416 non-null    object
dtypes: float64(4), object(5)
memory usage: 32.5+ KB

In [19]:
# check the null value for offer price columns
dataset[dataset.isnull().any(axis=1)]

,ticker,list_date,market_cap,lower_offer_pr,upper_offer_pr,final_offer_price,over_sub_ratio,allot_odds,firstday_return
10,09901.HK,2020/11/09,"2,380.62",NaN,NaN,NaN,0.6,100.0%,+14.710%

In [20]:
# only one column, hard code the correct value
dataset['lower_offer_pr'] = dataset['lower_offer_pr'].fillna(1399)
dataset['upper_offer_pr'] = dataset['upper_offer_pr'].fillna(1399)
dataset['final_offer_price'] = dataset['final_offer_price'].fillna(1190)

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 519
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             416 non-null    object
 1   list_date          416 non-null    object
 2   market_cap         416 non-null    object
 3   lower_offer_pr     416 non-null    float64
 4   upper_offer_pr     416 non-null    float64
 5   final_offer_price  416 non-null    float64
 6   over_sub_ratio     416 non-null    float64
 7   allot_odds         416 non-null    object
 8   firstday_return    416 non-null    object
dtypes: float64(4), object(5)
memory usage: 32.5+ KB

In [22]:
# remove % sign from the last two columns and change the columns to numeric
dataset['allot_odds'] = dataset['allot_odds'].str.replace('%', '')
dataset['firstday_return'] = dataset['firstday_return'].str.replace('%', '')

In [23]:
dataset['allot_odds'] = dataset['allot_odds'].apply(pd.to_numeric, errors='coerce')
dataset['firstday_return'] = dataset['firstday_return'].apply(pd.to_numeric, errors='coerce')

In [24]:
# reduce by 100 for last two columns
dataset['allot_odds'] = dataset['allot_odds'] / 100
dataset['firstday_return'] = dataset['firstday_return'] / 100

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 519
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             416 non-null    object
 1   list_date          416 non-null    object
 2   market_cap         416 non-null    object
 3   lower_offer_pr     416 non-null    float64
 4   upper_offer_pr     416 non-null    float64
 5   final_offer_price  416 non-null    float64
 6   over_sub_ratio     416 non-null    float64
 7   allot_odds         416 non-null    float64
 8   firstday_return    416 non-null    float64
dtypes: float64(6), object(3)
memory usage: 32.5+ KB

In [26]:
# cleaning market_cap column
dataset['market_cap'] = dataset['market_cap'].str.replace(',', '')

In [27]:
dataset

,ticker,list_date,market_cap,lower_offer_pr,upper_offer_pr,final_offer_price,over_sub_ratio,allot_odds,firstday_return
0,06618.HK,2020/12/08,1963.81-2207.09,62.800,70.58,70.580,420.9,0.40,0.00000
1,02110.HK,2020/12/07,5.00-6.00,0.225,0.27,0.225,35.8,0.20,-0.14667
2,06666.HK,2020/12/02,918.92-1054.05,8.500,9.75,8.800,9.7,0.50,-0.00227
3,06996.HK,2020/11/20,105.58-120.81,15.800,18.08,18.080,263.8,0.20,0.01106
4,01516.HK,2020/11/19,316.50-379.50,10.550,12.65,11.600,9.4,0.30,0.21897
...,...,...,...,...,...,...,...,...,...
515,02683.HK,2018/01/22,4.00-5.52,1.000,1.38,1.180,239.0,0.80,0.02542
516,01665.HK,2018/01/19,14.40-17.60,0.900,1.10,1.000,8.6,0.15,-0.02000
517,08043.HK,2018/01/19,2.00-3.60,0.500,0.90,0.500,10.4,0.30,1.40000
518,08513.HK,2018/01/19,2.40-2.80,0.600,0.70,0.650,17.5,0.75,0.04615
519,02139.HK,2018/01/18,66.39-70.46,2.610,2.77,2.690,0.6,1.00,0.07063

In [28]:
# expand the market cap range into two new columns, "mkt_cap_low" and "mkt_cap_high"
dataset[['mkt_cap_low', 'mkt_cap_high']] = dataset['market_cap'].str.split('-', expand=True)

In [29]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 519
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             416 non-null    object
 1   list_date          416 non-null    object
 2   market_cap         416 non-null    object
 3   lower_offer_pr     416 non-null    float64
 4   upper_offer_pr     416 non-null    float64
 5   final_offer_price  416 non-null    float64
 6   over_sub_ratio     416 non-null    float64
 7   allot_odds         416 non-null    float64
 8   firstday_return    416 non-null    float64
 9   mkt_cap_low        416 non-null    object
 10  mkt_cap_high       402 non-null    object
dtypes: float64(6), object(5)
memory usage: 39.0+ KB

In [30]:
# check the null value for any 'unsplit' columns
dataset[dataset.isnull().any(axis=1)]

,ticker,list_date,market_cap,lower_offer_pr,upper_offer_pr,final_offer_price,over_sub_ratio,allot_odds,firstday_return,mkt_cap_low,mkt_cap_high
10,09901.HK,2020/11/09,2380.62,1399.00,1399.00,1190.00,0.6,1.000,0.14710,2380.62,None
14,09698.HK,2020/11/02,1265.21,86.00,86.00,80.88,5.4,0.800,0.00000,1265.21,None
32,02057.HK,2020/09/29,2292.21,268.00,268.00,218.00,5.7,0.700,0.09174,2292.21,None
34,09991.HK,2020/09/29,251.92,103.90,103.90,82.90,2.6,0.700,0.01327,251.92,None
35,09688.HK,2020/09/28,570.40,648.00,648.00,562.00,2.4,0.500,0.08541,570.40,None
38,01179.HK,2020/09/22,1168.21,368.00,368.00,297.00,2.4,1.000,0.04714,1168.21,None
42,09987.HK,2020/09/10,1961.42,468.00,468.00,412.00,51.3,0.250,-0.05291,1961.42,None
74,09618.HK,2020/06/18,7293.28,236.00,236.00,226.00,177.9,0.100,0.03540,7293.28,None
76,09999.HK,2020/06/11,4321.04,126.00,126.00,123.00,359.5,0.080,0.05691,4321.04,None
78,02381.HK,2020/06/02,5.00,0.25,0.25,0.25,36.3,0.331,-0.43600,5.00,None
84,09996.HK,2020/05/15,93.70,15.36,15.36,15.36,0.0,0.085,0.67969,93.70,None
85,01147.HK,2020/05/13,5.00,0.25,0.25,0.25,114.6,0.300,-0.34800,5.00,None
147,01691.HK,2019/12/18,173.27,5.20,5.20,5.20,1.7,1.000,0.05577,173.27,None
164,09988.HK,2019/11/26,40348.15,188.00,188.00,176.00,41.4,0.800,0.06591,40348.15,None

In [31]:
# convert the data from object to numeric
dataset['mkt_cap_high'] = dataset['mkt_cap_high'].apply(pd.to_numeric, errors='coerce')

In [32]:
dataset['mkt_cap_low'] = dataset['mkt_cap_low'].apply(pd.to_numeric, errors='coerce')

In [33]:
# check for NaN values for further cleaning
dataset[dataset.isnull().any(axis=1)]

,ticker,list_date,market_cap,lower_offer_pr,upper_offer_pr,final_offer_price,over_sub_ratio,allot_odds,firstday_return,mkt_cap_low,mkt_cap_high
10,09901.HK,2020/11/09,2380.62,1399.00,1399.00,1190.00,0.6,1.000,0.14710,2380.62,NaN
14,09698.HK,2020/11/02,1265.21,86.00,86.00,80.88,5.4,0.800,0.00000,1265.21,NaN
32,02057.HK,2020/09/29,2292.21,268.00,268.00,218.00,5.7,0.700,0.09174,2292.21,NaN
34,09991.HK,2020/09/29,251.92,103.90,103.90,82.90,2.6,0.700,0.01327,251.92,NaN
35,09688.HK,2020/09/28,570.40,648.00,648.00,562.00,2.4,0.500,0.08541,570.40,NaN
38,01179.HK,2020/09/22,1168.21,368.00,368.00,297.00,2.4,1.000,0.04714,1168.21,NaN
42,09987.HK,2020/09/10,1961.42,468.00,468.00,412.00,51.3,0.250,-0.05291,1961.42,NaN
74,09618.HK,2020/06/18,7293.28,236.00,236.00,226.00,177.9,0.100,0.03540,7293.28,NaN
76,09999.HK,2020/06/11,4321.04,126.00,126.00,123.00,359.5,0.080,0.05691,4321.04,NaN
78,02381.HK,2020/06/02,5.00,0.25,0.25,0.25,36.3,0.331,-0.43600,5.00,NaN
84,09996.HK,2020/05/15,93.70,15.36,15.36,15.36,0.0,0.085,0.67969,93.70,NaN
85,01147.HK,2020/05/13,5.00,0.25,0.25,0.25,114.6,0.300,-0.34800,5.00,NaN
147,01691.HK,2019/12/18,173.27,5.20,5.20,5.20,1.7,1.000,0.05577,173.27,NaN
164,09988.HK,2019/11/26,40348.15,188.00,188.00,176.00,41.4,0.800,0.06591,40348.15,NaN

In [34]:
# filling NaN value with market cap (in this case as 
# there is not market cap range, mkt_cap_high is equal mkt_cap_low = market_cap)
dataset['mkt_cap_high'] = dataset['mkt_cap_low'].fillna(dataset['market_cap'])

In [35]:
dataset[dataset.isnull().any(axis=1)]

Empty DataFrame
Columns: [ticker, list_date, market_cap, lower_offer_pr, upper_offer_pr, final_offer_price, over_sub_ratio, allot_odds, firstday_return, mkt_cap_low, mkt_cap_high]
Index: []

In [36]:
# no null data exists, final check for datatype
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 519
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             416 non-null    object
 1   list_date          416 non-null    object
 2   market_cap         416 non-null    object
 3   lower_offer_pr     416 non-null    float64
 4   upper_offer_pr     416 non-null    float64
 5   final_offer_price  416 non-null    float64
 6   over_sub_ratio     416 non-null    float64
 7   allot_odds         416 non-null    float64
 8   firstday_return    416 non-null    float64
 9   mkt_cap_low        416 non-null    float64
 10  mkt_cap_high       416 non-null    float64
dtypes: float64(8), object(3)
memory usage: 39.0+ KB

In [37]:
# Finally, rearrange 'firstday_return' to be the last column for learning as 'Y'
column_titles = ['ticker', 'list_date', 'market_cap', 'mkt_cap_low', 'mkt_cap_high', 'lower_offer_pr', 'upper_offer_pr', 'final_offer_price', 'over_sub_ratio', 'allot_odds', 'firstday_return']
dataset = dataset.reindex(columns = column_titles)

In [38]:
dataset

,ticker,list_date,market_cap,mkt_cap_low,mkt_cap_high,lower_offer_pr,upper_offer_pr,final_offer_price,over_sub_ratio,allot_odds,firstday_return
0,06618.HK,2020/12/08,1963.81-2207.09,1963.81,1963.81,62.800,70.58,70.580,420.9,0.40,0.00000
1,02110.HK,2020/12/07,5.00-6.00,5.00,5.00,0.225,0.27,0.225,35.8,0.20,-0.14667
2,06666.HK,2020/12/02,918.92-1054.05,918.92,918.92,8.500,9.75,8.800,9.7,0.50,-0.00227
3,06996.HK,2020/11/20,105.58-120.81,105.58,105.58,15.800,18.08,18.080,263.8,0.20,0.01106
4,01516.HK,2020/11/19,316.50-379.50,316.50,316.50,10.550,12.65,11.600,9.4,0.30,0.21897
...,...,...,...,...,...,...,...,...,...,...,...
515,02683.HK,2018/01/22,4.00-5.52,4.00,4.00,1.000,1.38,1.180,239.0,0.80,0.02542
516,01665.HK,2018/01/19,14.40-17.60,14.40,14.40,0.900,1.10,1.000,8.6,0.15,-0.02000
517,08043.HK,2018/01/19,2.00-3.60,2.00,2.00,0.500,0.90,0.500,10.4,0.30,1.40000
518,08513.HK,2018/01/19,2.40-2.80,2.40,2.40,0.600,0.70,0.650,17.5,0.75,0.04615
519,02139.HK,2018/01/18,66.39-70.46,66.39,66.39,2.610,2.77,2.690,0.6,1.00,0.07063

In [39]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 519
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             416 non-null    object
 1   list_date          416 non-null    object
 2   market_cap         416 non-null    object
 3   mkt_cap_low        416 non-null    float64
 4   mkt_cap_high       416 non-null    float64
 5   lower_offer_pr     416 non-null    float64
 6   upper_offer_pr     416 non-null    float64
 7   final_offer_price  416 non-null    float64
 8   over_sub_ratio     416 non-null    float64
 9   allot_odds         416 non-null    float64
 10  firstday_return    416 non-null    float64
dtypes: float64(8), object(3)
memory usage: 39.0+ KB

In [40]:
dataset.to_csv(r'processed_stock_data.csv')